
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    background-color: transparent;

}

.play_space {
    background-color: orange;
    border: .5em solid dimgrey;
    padding: 2em;
    margin: 0 auto;
    width: 500px;
    height: 600px;
}

.push_btn {
    text-transform: uppercase;
    padding: .3em;
    margin: 0 auto;
    border: .5em ridge ghostwhite;
}

.hidden {
    display: none;
}

.info {
    padding: 1em;
}

.computer_area {
    color: ghostwhite;

}