body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    background-color: dimgrey;
    width: 100%

}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
}

header h3 {
    margin-top: 0;
    margin-bottom: 3em;
    letter-spacing: .5em;
}

header {
    margin-top: 3em;

}

.wrapper {

    margin: 3em auto;
    background-color: coral;
    width: 600px;
    height: 600px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    padding: 50px;
}

.the_what {
    display: flex;
    justify-content: flex-start;

}

.info {
    margin-left: 2em;
}

.out_unit {
    margin: 2em;

}

.in_unit {
    margin: 2em;

}

.submit_btn {
    margin-top: 2em;
}

.unit_out_btn {
    background-color: #ffeb99;
    border: .2em solid dimgrey;
}



.writing_space{
    margin-top: 1em;
    width: auto;
    padding: 1em;
    background-color: #ffeb99;
    border-radius:20;
    border: .2em solid dimgrey;
    color: dimgrey;
    font-size: 2em;


}