<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Blog Post</title>
        <meta name="description" content="Blog page with poster and commenter accounts in the user system">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog_style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <header class="header">

            <h1>My Fabulous Blog Page!</h1>

            </header>
            {% for post in posts %}
            <article class="post_in_blog">

                <h2 class="post_title">{{ post.title }}</h2>

                <p class="post_body">
                    {{post.body}}
                </p>
                <div class="author_box">
                    <h4 class="post_pub_date">{{ post.timestamp }}</h4>
                    <h3 class="author">{{ post.user }}</h3>

                </div>

            </article>
            {% endfor %}

        </div>

    </body>
</html>